

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- This is a comment. -->

	<!-- bean definition -->
	<!-- <bean id="employee" class="com.cg.spring.demo.Employee"> </bean> -->

	<!-- Property injection / Setter injection -->

	<bean id="employee" class="com.cg.spring.demo.Employee">
		<property name="ename">
			<value>Gaurav Sonawane </value>
		</property>
	</bean>

	<bean id="employee2" class="com.cg.spring.demo.Employee">
		<property name="ename">
			<value>Suresh Reddy</value>
		</property>
	</bean>

	<!-- Constructor injection -->

	<bean id="employee3" class="com.cg.spring.demo.Employee">
		<constructor-arg value="Sonu" type="String"></constructor-arg>
	</bean>

	<bean id="employee4" class="com.cg.spring.demo.Employee">
		<constructor-arg value="101" type="int"></constructor-arg>
		<constructor-arg value="Monu" type="String"></constructor-arg>
		<constructor-arg value="10.5" type="double"></constructor-arg>
	</bean>

	<!-- Collection injection -->
	<bean id="department1" class="com.cg.spring.demo.Department">
		<property name="id" value="10"></property>
		<property name="name" value="HR"></property>
		<property name="functions">
			<list>
				<value>Human Resourse</value>
				<value>Payroll</value>
				<value>CSE</value>
				<value>Entc</value>
			</list>
		</property>
	</bean>

	<!-- Inner Bean using propetry injection -->
	<bean id="employee5" class="com.cg.spring.demo.Employee">
		<property name="eid">
			<value>111</value>
		</property>
		<property name="ename">
			<value>Vaibhav</value>
		</property>
		<property name="salary">
			<value>222</value>
		</property>
		<property name="department">
			<bean id="dept" class="com.cg.spring.demo.Department">
				<property name="id" value="20"></property>
				<property name="name" value="Marketing"></property>
				<property name="functions">
					<list>
						<value>Sales</value>
						<value>Promotion</value>
						<value>Customer Care</value>
					</list>
				</property>
			</bean>
		</property>
	</bean>

	<!-- Inner Bean using constructor injection -->
	<bean id="employee6" class="com.cg.spring.demo.Employee">
		<constructor-arg name="eid">
			<value>111</value>
		</constructor-arg>
		<constructor-arg name="ename">
			<value>ggggg</value>
		</constructor-arg>
		<constructor-arg name="salary">
			<value>222</value>
		</constructor-arg>
		<constructor-arg name="department">
			<bean id="dept" class="com.cg.spring.demo.Department">
				<constructor-arg name="id" value="20"></constructor-arg>
				<constructor-arg name="name" value="Marketing"></constructor-arg>
				<constructor-arg name="functions">
					<list>
						<value>Sales</value>
						<value>Promotion</value>
						<value>Customer Care</value>
					</list>
				</constructor-arg>
			</bean>
		</constructor-arg>
	</bean>
</beans>